apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.frontend.name }}
  namespace: {{ .Values.global.namespace }}
spec:
  replicas: {{ .Values.frontend.replicaCount }}
  selector:
    matchLabels:
      app: {{ .Values.frontend.name }}
  template:
    metadata:
      labels:
        app: {{ .Values.frontend.name }}
    spec:
      containers:
      - name: {{ .Values.frontend.name }}
        image: "{{ .Values.frontend.image.repository }}:{{ .Values.frontend.image.tag }}"
        imagePullPolicy: {{ .Values.frontend.image.pullPolicy }}
        ports:
        - containerPort: {{ .Values.frontend.service.port }}
        env:
        - name: NEXT_PUBLIC_API_URL
          value: "{{ .Values.frontend.env.NEXT_PUBLIC_API_URL }}"
        - name: NEXT_PUBLIC_VPS_IP
          value: "{{ .Values.frontend.env.NEXT_PUBLIC_VPS_IP }}"
        resources:
          {{- toYaml .Values.frontend.resources | nindent 10 }}
